<h1>Portfolio of Jonathan Maronde</h1>

<nav class="navbar">
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="about.html.erb">About</a></li>
    <li><a href="gallery.html.erb">Gallery</a></li>
    <li><a href="contact.html.erb">Contact</a></li>
</ul>
</nav>

<main>
    <h3>This is the Home page!</h3>
    <p>Welcome to my portfolio!</p>

    <p>Here's some of my coding expertise!</p>
    <ul>
      <li>Python (DS's, Algorithms, and OOP)</li>
      <li>Ruby (OOP)</li>
      <li>Simple HTML, CSS, & JS</li>
    </ul>

    <%= image_tag("home_image.webp") %>
</main>

<%= stylesheet_link_tag "home.css" %>
